<div class="input-group">
  <ng-content select="[input-element]"></ng-content>
  <div class="input-group-append">
    <button *ngIf="preview == true" class="btn btn-outline-default" type="button"
            (mousedown)="show($event); false" (mouseup)="hide($event); false"
            [attr.title]="isHidden ? 'Show' : 'Hide'">
      <i class="fa fa-fw" [ngClass]="{'fa-eye-slash': !isHidden, 'fa-eye': isHidden, 'fa-lg': size === 'lg'}"></i>
    </button>
    <button *ngIf="generator == true" class="btn btn-outline-default" type="button"
            (click)="generatePassword($event); false" [attr.title]="'Generate'">
      <i class="fa fa-lightbulb-o" [ngClass]="{'fa-lg': size === 'lg'}"></i>
    </button>
  </div>
</div>

<ng-content select="[error-element]"></ng-content>
